.ConsoleViewer {
  font-family: monaco, monospace;
  font-size: 11px;
  white-space: pre;

  .ConsoleLine {
    border-bottom: 1px solid #eee;
    
    &.debug {}

    &.info {
      background-color: lightblue;
    }
    &.warn {
      background-color: lightgoldenrodyellow;
    }
    &.error {
      background-color: pink;
    }
    &.group {
      font-weight: bold;
    }
  }

  .ConsoleLines {
    border-left: 1px solid #ccc;

    > .ConsoleLines {
      margin-left: 12px;
    }

    > .ConsoleLine {
      margin-left: 20px;
    }
  }

  .ConsoleValue {
    &.boolean,
    &.number {
      color: darkblue;
    }

    &.object {
      font-style: italic;
      color: darkblue;
      cursor: pointer;
    }
  }

  .ConsoleValue + .ConsoleValue:before {
    content: " ";
    text-decoration: none;
  }
}