.ConsoleViewer {
  position: relative;
  font-family: monaco, monospace;
  font-size: 11px;
  white-space: pre;

  .ConsoleGroupIcon {
    display: inline-block;
    text-align: center;
  }

  .ConsoleLine {
    z-index: 1;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    
    &.debug {}

    &.info {
      background-color: hsla(200,100%,50%,0.15)
    }
    &.warn {
      background-color: hsla(50,100%,50%,0.15)
    }
    &.error {
      background-color: hsla(12,100%,50%,0.15)
    }
    &.group {
      font-weight: bold;
    }
  }

  .ConsoleLines {
    position: relative;

    .ConsoleGroupSpan {
      z-index: 2;
      position: absolute;
      overflow: hidden;
      top: -5px; bottom: 0;
      width: 5px;
      border: solid rgba(0,0,0,0.4);
      border-width: 0 0 1px 1px;
    }
  }

  .ConsoleValue {
    &.boolean,
    &.number {
      color: darkblue;
    }

    &.observable {
      // font-style: italic;
      color: darkgreen;
      //background: rgba(0,0,0,0.1);
      background: #ddd;
      border-radius: 5px;
      padding: 0 3px;
      cursor: pointer;
    }
  }

  .ConsoleValue + .ConsoleValue {
    margin-left: 0.5em;
  }
}