@toolbar-height: 45px;
@top-height: 50vh;
@bottom-height: calc(100vh - @top-height - @toolbar-height - 2px);

.SpellEditor {
 height: 100vh; 
 background: #343a40;
}

.SpellEditorPanel {
  background: white;
}

.SpellEditor .row,
.SpellEditor .row > div,
.SpellEditor .row > div > div {
  position: relative;
}

.SpellEditor .row > div,
.SpellEditor .row > div > div {
  height: 100%;
}

.SpellEditor #toolbar {
  height: @toolbar-height;
  // border-bottom: 1px solid black;
}

.SpellEditor #topRow,
.SpellEditor #topRow .CodeMirror {
  height: @top-height;
}

.SpellEditor #bottomRow,
.SpellEditor #bottomRow .CodeMirror {
  height: @bottom-height;
}

.SpellEditor .btn,
  .SpellEditor .dropdown-item {
  & > i.icons,
  & > i.icon {
    line-height: 1em;
    margin-right: 0.4em;
  }
}

i.icons {
  .left.corner.icon {
    left: 0;
  }
}

.SpellEditor .navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}

#SpellEditor-CompileButton {
  position: absolute;
  top: 100px;
  left: calc(50% - 2.5em);
  width: 5em;
  z-index: 2;
}

