.SpellEditor {
 height: 100vh; 
}

.SpellEditor .row,
.SpellEditor .row > div,
.SpellEditor .row > div > div {
  position: relative;
}

.SpellEditor .row > div,
.SpellEditor .row > div > div {
  height: 100%;
}

.SpellEditor #toolbar {
  height: 40px;
}

.SpellEditor #topRow,
.SpellEditor #topRow .CodeMirror {
  height: calc(100vh - 440px);
}

.SpellEditor #bottomRow,
.SpellEditor #bottomRow .CodeMirror {
  height: 400px;
}

.SpellEditor #match {
  overflow: auto;
  height: 100%;
}

.SpellEditor #ast {
  height: 100%;
}

.SpellEditor #app {
  overflow: auto;
  height: 100%;
}