.SpellEditor {
 height: 100vh; 
}

.SpellEditor > .toolbar {
  height: 40px;
}

.SpellEditor > .editor {
  height: calc(100vh - 440px);
}

.SpellEditor #match {
  border: 1px solid #ccc;
  overflow: auto;
  height: 400px;
}

.SpellEditor #output {
  border: 1px solid #ccc;
  overflow: auto;
  height: 400px;
}