.CodeMirrorContainer {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.CodeMirror {
  height: 100%;
  font-family: Lato, Arial, sans-serif;
}

.CodeMirror.cm-s-solarized {
  box-shadow: none;
}

.CodeMirror-gutters {
  background-color: white;
  border-right: 0px;
}

.CodeMirror .cm-tab {
  position: relative;
  top: 1em;
  height: 3px;
  border: 1px solid #AAA;
  border-width: 0px 1px 1px 0px;
  margin: 0 3px 0 0;
}
